{% extends 'base_layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/users/users_form.css' %}">
{% endblock css%}

{% block title %} Login {% endblock title%}

{% block content %}
<div class="content">
	<section class="px-5 justify-content-center">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}
		<h1 class="my-4 mx-auto font-weight-bold" style="color: #b961f8; text-align: center;"> 
			LOGIN
		</h1>
    <div class="form-login">
      <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input id="username" name="username" class="form-control" type="text" placeholder="Username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" name="password" class="form-control" type="password" placeholder="Password" required>
            </div>
            <div style="margin-top: 4rem; text-align: center; justify-content: center;">
              <button id="login-submit" type="submit" class="btn btn-primary" style="background: #CA89FA; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);">Submit</button>&nbsp;&nbsp;
              <a id="signup" class="btn btn-outline-warning" href="{% url 'users:signup' %}" style="color: #FF0000; border-color: #FF0000;">Sign Up</a>
              <hr/>
            </div>
      </form>
    </div>
	</section>
</div>
{% endblock content %}
