{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/users_form.css' %}">
{% endblock css %}
{% block title %} Login {% endblock title%}

{% block content %}
<div class="content">
	<section class="px-5 justify-content-center">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
            {% endfor %}
        </ul>
        {% endif %}
		<h1 class="mx-auto my-4 font-weight-bold" style="color: #b961f8; text-align: center;"> 
			SIGN UP
		</h1>
        <div class="form-login">
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                    <div class="form-group">
                        <label for="nama">Nama Lengkap: </label>
                        <input id="nama" name="nama" class="form-control" type="text" placeholder="Nama lengkap anda" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Nomor Telepon: </label>
                        <input id="phone" name="phone" class="form-control" type="tel" placeholder="No HP yang dapat dihubungi" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input id="email" name="email" class="form-control" type="email" placeholder="Alamat email anda" required>
                    </div>
                    <div class="form-group">
                        <label for="tgl_lahir">Tanggal Lahir: </label>
                        <input id="tgl_lahir" name="tgl_lahir" class="form-control" type="date" placeholder="Tanggal " required>
                    </div>
                    <div class="form-group">
                        <label for="kota">Kota Domisili: </label>
                        <input id="kota" name="kota" class="form-control" type="text" placeholder="Kota tempat tinggal" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" name="username" class="form-control" type="text" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" name="password" class="form-control" type="password" placeholder="Password" required>
                    </div>
                    <div style="margin-top: 3rem; text-align: center; justify-content: center;">
                        <button id="signup-submit" type="submit" class="btn btn-primary" style="background: #CA89FA; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);">Submit</button>&nbsp;&nbsp;
                        <hr/>
                    </div>
            </form>
        </div>
	</section>
</div>
{% endblock content %}
