.form-login{
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 7vh;
    box-shadow: -1px 2px 7px 2px #e3eaf5eb;
}

h1 {
	color: #b961f8;
}

.btn-outline-warning {
	background: #FF0000;
	color: #FF0000;
}