{% extends 'base_layout.html' %} 
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/style_add_feedback.css' %}">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="course">
        <div style="display: flex; justify-content: left; padding-top: 1rem; padding-left: 1rem;"><button class="btn btn-add-feedback btn-unhovered" id="custom-button"><a href="{% url 'feedback:feedback' %}">See all the feedback!</a></button></div>

        <div style="text-align: right; justify-content: right; margin-right: 1rem; padding-top: -15rem; top: 2px;">
            <script>
            $(document).ready(function(){
                $("#button").click(function(){
                    alert("Please give the honest feedback so that our website will be better and more useful for everyone. Thank you and stay safe!");
                });
            });
            </script>
            <input type="button" style="background: #CA89FA; text-align: center; color: white; border-radius: 10px;width: 150px; height: 45px; border: 2px solid #CA89FA; align-items: center; margin-top: -40px;" id="button" value="! Reminder !">
        </div>

        <div class="wrap-course">
            <h1 style="color: #004850; font-size: 33px; font-family: Roboto;"><b>Form Feedback FightCov-19</b></h1>
            <div class="wrap">
                <form action="{% url 'feedback:add_feedback' %}" method="POST">
                    {% csrf_token %}
                    {% for field in feedback_form.visible_fields %}
                    <div class="form-group">
                        <div class="col-sm-6 offset-sm-3">
                            <h5>{{field.label_tag}} {{field}}</h5>
                        </div>
                    </div>
                    {% endfor %}
                    <div style="display: flex; justify-content: center; text-align: center"><button class="btn btn-add-feedback btn-unhovered" id="custom-button" type="submit">Submit</button></div>
                </form>
            </div>
        </div>
    </div>

{% else %}
<div class="not-authenticated"><body style="background-color: #D6F8FE">
    <b>You're not authenticated. <br/> Please <span style="color: red;">Log In</span> to write your feedback. <br/>
    If you don't have an account yet, click <span style="color: red;">Sign Up</span>.</b><br/>
    <div class="button-ls" style="margin-top: 1rem;">
        <button class="btn btn-add-feedback btn-unhovered" id="custom-button"><a href="{% url 'users:login' %}">Log In</a></button>&nbsp; &nbsp;
        <button class="btn btn-add-feedback btn-unhovered" id="custom-button"><a href="{% url 'users:signup' %}">Sign Up</a></button>
    </div>
</div>
{% endif %}

<script>
    $('.btn-add-feedback').mouseover(function() {
        $(this).removeClass('button-unhovered');
        $(this).addClass('button-hovered')
    });
    $('.btn-add-feedback').mouseleave(function() {
        $(this).removeClass('button-hovered');
        $(this).addClass('button-unhovered');
    });
</script>

{% endblock %}
