{% extends 'base_layout.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'js/search_bar_feedback.js' %}"></script>
<script src="{% static 'js/message_bar_feedback.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style_feedback.css' %}">
{% endblock meta %}

{% block content %}
<div class="feedback">
    <div class="wrap">
        {% if feedback.count %}
        <h1 style="text-align: center; font-size: 31px; color: #004850; font-family: Roboto;"><b>Thank you for visiting our website!</b></br><b>We really appreciate your feedback :)</b></h1>
        <button class="btn btn-feedback btn-unhovered" id="custom-button"><a href="{% url 'feedback:add_feedback' %}">Write your feedback!</a></button>

        <div class="form-group" style="padding-top: 1.5rem;">
            <div class="col-sm-6 offset-sm-3">
                <input id="search" class="form-control" type="text" placeholder="Search for your name here...">
            </div>
        </div>

        <div id="result">
        <div class="flex-wrap">
        {% for feedback_content in feedback %}
	        <div class="card">
	        	<div class="name">
	            	<h4 style="text-align: center;">{{ feedback_content.name }}</h4>
	        	</div>
	        	<div class="email">
	        		<h6 style="text-align: center;">{{ feedback_content.email }}</h6>
	        	</div>
	            <a href="{% url 'feedback:delete_feedback' id=feedback_content.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
	            <div class="card-message">
	            	<h5 style="text-align: center; font-size: 15px;">{{ feedback_content.message }}</h5>
	            </div>
	        </div>

        {% endfor %}
    	</div>
    	</div>
        {% else %}

        <div class="else"><body style="background-color: #D6F8FE">
        	<div class="text">
        		<div class="text-1">
	            	<h4><b style="color: #202546; font-size: 27px;">We need your feedback :)</b></h4>
	            </div>
	            <div class="text-2">
	            	<button class="btn btn-feedback button-unhovered" id="custom-button"><a href="{% url 'feedback:add_feedback' %}" style="font-size: 16.5px;">Write here!</a></button>
	            </div>
	        </div>
        </div></body>

        {% endif %}

        <div class="message">
        	<h2 style="font-size: 30px; color: #004850; text-align: center;"><b>Put your message for our team:</b></h2>
            {% if user.is_authenticated %}
            <form action="" method="POST">
				{% csrf_token %}

                <div class="col-sm-6 offset-sm-3">
					{% for field in message_form %}
                    	{{field}}
                    {% endfor %}
                </div>

                <div style="margin: 15px;"></div>

                <button class="btn btn-feedback button-unhovered" id="custom_button" onclick="writeContent()">			Submit!		
                </button>

                <div style="margin: 15px;"></div>
            </form>

            {% else %}

            <div style="display: flex; justify-content: center;">
                <button class="btn btn-feedback button-unhovered" id="custom_button"><a href="{% url 'users:login' %}">Please Log In to write!</a></button>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            <div id="message_result">
            	<div style="display: flex; justify-content: center;">
                    <div class="message-wrapper" id="real_result">
                        {% for message in messages %}
                        <div class="message-item">
                            <div class="message-content">
                                {{message.no}}.&nbsp;{{message.message_content}}
                            </div>
                            <div class="message-author">
                                by {{message.message_author_username}}, <i>at {{message.created_at}}</i>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    $('.btn-feedback').mouseover(function() {
        $(this).removeClass('button-unhovered');
        $(this).addClass('button-hovered')
    });
    $('.btn-feedback').mouseleave(function() {
        $(this).removeClass('button-hovered');
        $(this).addClass('button-unhovered');
    });

	$(function() {
		var len_fit_name = 19;

		$('.name h4').each(function(i, obj) {
			var name = $(this)
			
			var len_item_name = name.html().length;
			if(len_fit_name < len_item_name) {
	    		var size_now = parseInt(name.css("font-size"));
	    		var size_new = size_now * len_fit_name/len_item_name;
	    		name.css("font-size",size_new);
			}
		})

		var len_fit_email = 30;

		$('.email h6').each(function(i, obj) {
			var email = $(this)
			
			var len_item_email = email.html().length;
			if(len_fit_email < len_item_email) {
	    		var size_now = parseInt(email.css("font-size"));
	    		var size_new = size_now * len_fit_email/len_item_email;
	    		email.css("font-size",size_new);
			}
		})
    });
</script>

{% endblock %} 