{% extends 'base_layout.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
<title>Welcome to FIGHTCOV-19!</title>
{% endblock meta %}

{% block content %}
<div class="responsive">
    <img src="{% static 'img/home.png' %}" alt="vector" width="700" height="700" align="right" style="max-width: 100%;
    height: auto;">
</div>

<dd class="col-md-9" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: #004850;margin-left: 40px;padding-right: 80px;">
    <h1 class="title1" style="font-weight: bold; font-size: 50px;line-height: 59px;margin-top: 220px;">Welcome to <span style="color: #a11eff;">FightCOV-19
    </span><br>Let's Fight Corona Together!</h1>
    <h3 class="title2" style="font-weight: normal;font-size: 24px;line-height: 28px;margin-top: 40px;">Find out more about Covid-19
        <br>Help those in need and those who have lost their families</h3>
    
</dd>

<div class="title-top">
    <div class="center" align="left" style="padding-bottom: 220px;">
        <div class="button">
            <a href="/covcase/" class="btn btn-outline-primary" role="button" aria-pressed="true" style="margin-left: 54px">Covid-19 Cases</a>  
            <a href="/donation/" class="btn btn-outline-primary" role="button" aria-pressed="true"
            style="margin-left: 16px;
            background: #79E6FB;
            border: 3px solid #CA89FA;line-height: 32px;
            color: #CA89FA;">Donate Now!</a>  
        </div>
    </div>
</div>

{% endblock content %}