body {
    background-color: #D6F8FE;
}

.question {
    color: #8E11FF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 28px;
    font-size: 20px;
}

.answer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #202546;
}

.container .column {
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba(90, 225, 252, 0.250);
    border-radius: 10px;
}

.title-top a{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 262px;
    height: 64px;
    background: #CA89FA;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-top: 16px;
    color: #FFFFFF;
}

.center-content button{
    width: 200px;
    height: 50px;
    background: #CA89FA;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 20px;
}

.center-content a{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding-top: 12px;
    font-size: 16px;
}

.title-top h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #004850;
    padding-top: 50px;
}