{% extends 'base_layout.html' %}
{% load static %}
{% block meta %}
<style>
body{
    margin-top:20px;
    background:#FAFAFA;
}

.title {
    margin: 2.5%;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
</style>
{% endblock %}
{% block content %}
<div class="title-top" style="color: #000000;">
    <div class="center" align-item="center">
        <h1 class="title text-center">Laporan Kasus</h1>
</div>

<div class="container">
    <div class="row">
       
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card" id = "daerah-cov">
                <div class="card-block">
                    <h4 class="m-b-20">Region</h4>
                    {% for i in data %}
                    <h3 class="text-center">{{ i.Daerah }} </h3>
                    <a href="/covcase/delete/{{ i.Daerah }}">
                        {% if user.is_authenticated %}
                        <button type="submit" class="btn" style="background-color: #141414; color: white; margin-left: 4%; margin-bottom: 15%; ">
                        Delete</button></a>
                        {% endif %}
                    {% endfor %}
                    <a href="/covcase">
                        <button type="submit" class="btn" style="background-color: #141414; color: white; margin-left: 20%; margin-bottom: 15%;">Back</button>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card" id = "aktif-cov">
                <div class="card-block">
                    <h4 class="m-b-20">Active Cases</h4>
                    {%  for i in data %}
                    <h2 class="text-center">{{ i.Aktif }}</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card" id = "sembuh-cov">
                <div class="card-block">
                    <h4 class="m-b-20">Recover Cases</h4>
                    {% for i in data%}
                    <h2 class="text-center">{{ i.Sembuh }}</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card" id = "death-cov">
                <div class="card-block">
                    <h4 class="m-b-20">Death</h4>
                    {% for i in data %}
                    <h2 class="text-center">{{ i.Death }}</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
       
 </div>
</div>

 <script>
        $(document).ready(function () {
            $('#daerah-location').click(function () {
                var namaDaerah = $('#daerah-value').val();
                $.ajax({
                    url: "listCase/",
                    dataType: "json",
                    success: function (response) {

                        var details = response[namaDaerah]
                        $("#daerah-cov").html(namaDaerah)
                        $("#aktif-cov").html(details["Aktif"])
                        $("#sembuh-cov").html(details["Sembuh"])
                         $("#death-cov").html(details["Death"])
                        // $('#search-result').html('')
                        // var result = '';

                        // result += "<tr> <th scope='row' class='align-center text-center'>" + "</th>" +
                        //     "<td class='align-center'>" + namaDaerah+ "</td>" +
                        //     "<td class='align-center'>" + details["Aktif"]+ "</td>" +
                        //     "<td class='align-center'>" + details["Sembuh"] + "</td>" +
                        //     "<td class='align-center'>" + details["Death"] + "</td>" +
                        //     "<td class='align-center'>" +
                        //     "</td>"+"</tr>"
                        // $('#search-result').append(result);


                    }

                });
            });
        });
    </script>

{% endblock content %}