{% extends 'base_layout.html' %}
{% load static %}

{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="{% static 'css/FAQ.css' %}" rel="stylesheet" type="text/css">
<title>FightCovid19: Frequently Asked Questions</title>
{% endblock meta %}

{% block content %}

<div class="title-top">
    <div class="responsive">
        <img src="{% static 'img/cov.png' %}" alt="vector" width="110" height="110" align="left" style="max-width: 100%;
        height: auto;">
    </div>
    <div class="responsive">
        <img src="{% static 'img/cov.png' %}" alt="vector" width="110" height="110" align="right" style="max-width: 100%;
        height: auto;">
    </div>
    <div class="center" align="center">
        <h1 class="title1" style="padding-top: 50px;padding-bottom: 20px;">FREQUENTLY ASKED QUESTIONS</h1>
        <h3 class="title2" style="color: #b961f8;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;font-size: 24px;">We are here trying to answer all of your question!</h3>
        <div class="button">
            <a href="/FAQ/form-FAQ/" class="btn btn-outline-primary" role="button" aria-pressed="true">Ask Your Question!</a>  
        </div>
    </div>
</div>

{% csrf_token %}
{% for content in database %}
<div class="container" align=left>
    <div class="column" style="margin-top: 32px;margin-bottom: 40px;">
        <div class="card-body text-info" style="font-size: 20px;">
            <h5 class="question">{{content.question}} - {{content.name}} / {{content.email}}</h5>
            <h5 class="answer">{{content.answer}}</h5>
        </div>
    </div>
</div>
{% endfor %}

<div class="default">
    <div id="wishesData" class="center" align="center" style="margin-top: 72px;margin-bottom: 40px;">
        <i id="wish" style="color: #b961f8;font-size: 32px;">"Wishing Covid-19 ends soon as possible. Stay Safe and Healty!"</i>
        <div class="center" align="center" style="margin-top: 24px;">
            <button id="buttonWishes" type="submit" class="btn btn-primary">See Other Wishes</button>
        </div>
    </div>
</div

{% if user.is_authenticated %}
<div class="default">
    <div class="center" align="center" style="padding-top:32px ;padding-bottom: 80px;">
        <h1 class="title" style="color: #004850">Share your Thoughts & Best Wishes during Covid-19</h1>
        <p id="alert"></p>
        <form method='POST' class="w-50">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" id="inputWishes" placeholder="Write your thoughts and wishes here">
            </div>
            <button id="submitFormWishes" type="submit" class="btn btn-primary">Submit Now</button>
        </form>
    </div>
</div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'FAQ.js' %}"></script>

{% endblock content %}
