html, body {
	height: 100%;
}

.feedback {
	background: #D6F8FE;
	height: 100%;
 	background-repeat: no-repeat;
 	background-size: cover;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
}

button {
	background: #CA89FA;
	text-align: center;
	color: white;
	border-radius: 10px;
	width: 200px;
	height: 45px;
	border: 2px solid #CA89FA;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: relative;
    display: block;
}

.btn-feedback {
	background: #CA89FA;
	text-align: center;
	color: white;
	border-radius: 10px;
	width: 200px;
	height: 45px;
	border: 2px solid #CA89FA;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: relative;
    display: block;
}

.wrap {
	background: #D6F8FE;
	min-height: 100%;
 	background-repeat: no-repeat;
 	background-size: cover;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
}

.else {
  	height: 100%;
  	border-radius: 15px;
  	justify-content: center;
	margin-top: 10%;
  	margin: 0 auto;
  	background: #D6F8FE;
  	background-size: cover;
}

.text {
	text-align: center;
	margin: 0 auto;
	font-family: Roboto;
	top: 70%;
	left: 71%;
	position: absolute;
	transform: translate(-50%,-50%);
}

.flex-wrap {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	margin-top: 3%;
}

.card {
	width: 300px;
  	height: 350px;
  	background: #5AE2FC;
  	border-radius: 40px;
  	justify-content: center;
  	text-align: center;
  	margin: 15px;
}

.card-message {
	width: 250px;
  	height: 220px;
  	background: white;
  	border-radius: 20px 20px 20px 20px;
  	justify-content: center;
  	margin: 0 auto;
  	margin-top: 4%;
  	padding-left: 0.3rem;
  	padding-right: 0.3rem;
  	overflow-y: scroll;
  	padding-top: 1rem;
}

h1 {
	padding-top: 2rem;
}

.not-authenticated {
	text-align: center;
	margin: 0 auto;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-family: Roboto;
	font-size: 28px;
}

.button-ls {
	font-size: 18px;
	display: flex;
	flex-wrap: row;
	margin-right: 1px;
	margin: 3px;
}

.button-hovered {
	background: #5AE2FC;
	font-weight: bold;
}

.col-sm-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.offset-sm-3 {
	margin-left: 25%;
}

.message {
	margin: 50px; 
	font-family: Roboto; 
	font-size: 25px; 
	color: #004850; 
	text-align: center;
}

.message-wrapper {
	width: 900px;
	border-radius: 10px;
	border: 2px solid #6c757d;
	text-align: justify;
	padding-left: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-right: 1rem;
}

.message-item {
	margin-bottom: 10px;
}

.message-content {
	font-size: 20px;
	font-weight: bold;
}

.message-author {
	font-size: 18px;
}

.text-1 {
	font-size: 27px;
}

.text-2 {
	font-size: 16.5px;
}


@media screen and (max-width: 800px) {
	.message-wrapper {
		width: 880px;
	}

	.message-content {
		font-size: 20px;
	}

	.message-author {
		font-size: 20px;
	}

	.text-1 {
		font-size: 26.5px;
	}

	.text-2 {
		font-size: 16px;
	}
}

@media screen and (max-width: 780px) {
	.message-wrapper {
		width: 860px;
	}

	.message-content {
		font-size: 19px;
	}

	.message-author {
		font-size: 19px;
	}

	.text-1 {
		font-size: 26.5px;
	}

	.text-2 {
		font-size: 16px;
	}
}

@media screen and (max-width: 760px) {
	.message-wrapper {
		width: 840px;
	}

	.message-content {
		font-size: 19px;
	}

	.message-author {
		font-size: 19px;
	}

	.text-1 {
		font-size: 26.5px;
	}

	.text-2 {
		font-size: 16px;
	}
}

@media screen and (max-width: 740px) {
	.message-wrapper {
		width: 820px;
	}

	.message-content {
		font-size: 18px;
	}

	.message-author {
		font-size: 18px;
	}

	.text-1 {
		font-size: 26px;
	}

	.text-2 {
		font-size: 15.5px;
	}
}

@media screen and (max-width: 720px) {
	.message-wrapper {
		width: 800px;
	}

	.message-content {
		font-size: 18px;
	}

	.message-author {
		font-size: 18px;
	}

	.text-1 {
		font-size: 26px;
	}

	.text-2 {
		font-size: 15.5px;
	}
}

@media screen and (max-width: 700px) {
	.message-wrapper {
		width: 780px;
	}

	.message-content {
		font-size: 17px;
	}

	.message-author {
		font-size: 17px;
	}

	.text-1 {
		font-size: 26px;
	}

	.text-2 {
		font-size: 15.5px;
	}
}

@media screen and (max-width: 680px) {
	.message-wrapper {
		width: 760px;
	}

	.message-content {
		font-size: 17px;
	}

	.message-author {
		font-size: 17px;
	}

	.text-1 {
		font-size: 25.5px;
	}

	.text-2 {
		font-size: 15px;
	}
}

@media screen and (max-width: 660px) {
	.message-wrapper {
		width: 740px;
	}

	.message-content {
		font-size: 16px;
	}

	.message-author {
		font-size: 16px;
	}

	.text-1 {
		font-size: 25.5px;
	}

	.text-2 {
		font-size: 15px;
	}
}

@media screen and (max-width: 640px) {
	.message-wrapper {
		width: 720px;
	}

	.message-content {
		font-size: 16px;
	}

	.message-author {
		font-size: 16px;
	}

	.text-1 {
		font-size: 25.5px;
	}

	.text-2 {
		font-size: 15px;
	}
}

@media screen and (max-width: 620px) {
	.message-wrapper {
		width: 700px;
	}

	.message-content {
		font-size: 15px;
	}

	.message-author {
		font-size: 15px;
	}

	.text-1 {
		font-size: 25px;
	}

	.text-2 {
		font-size: 14.5px;
	}
}

@media screen and (max-width: 600px) {
	.message-wrapper {
		width: 680px;
	}

	.message-content {
		font-size: 15px;
	}

	.message-author {
		font-size: 15px;
	}

	.text-1 {
		font-size: 25px;
	}

	.text-2 {
		font-size: 14.5px;
	}
}

@media screen and (max-width: 580px) {
	.message-wrapper {
		width: 660px;
	}

	.message-content {
		font-size: 14px;
	}

	.message-author {
		font-size: 14px;
	}

	.text-1 {
		font-size: 25px;
	}

	.text-2 {
		font-size: 14.5px;
	}
}

@media screen and (max-width: 560px) {
	.message-wrapper {
		width: 640px;
	}

	.message-content {
		font-size: 14px;
	}

	.message-author {
		font-size: 14px;
	}

	.text-1 {
		font-size: 24.5px;
	}

	.text-2 {
		font-size: 14px;
	}
}

@media screen and (max-width: 540px) {
	.message-wrapper {
		width: 620px;
	}

	.message-content {
		font-size: 14px;
	}

	.message-author {
		font-size: 14px;
	}

	.text-1 {
		font-size: 24.5px;
	}

	.text-2 {
		font-size: 14px;
	}
}

@media screen and (max-width: 520px) {
	.message-wrapper {
		width: 600px;
	}

	.message-content {
		font-size: 13px;
	}

	.message-author {
		font-size: 13px;
	}

	.text-1 {
		font-size: 24.5px;
	}

	.text-2 {
		font-size: 14px;
	}
}

@media screen and (max-width: 500px) {
	.message-wrapper {
		width: 580px;
	}

	.message-content {
		font-size: 13px;
	}

	.message-author {
		font-size: 13px;
	}

	.text-1 {
		font-size: 24px;
	}

	.text-2 {
		font-size: 13.5px;
	}
}

@media screen and (max-width: 480px) {
	.message-wrapper {
		width: 560px;
	}

	.message-content {
		font-size: 12px;
	}

	.message-author {
		font-size: 12px;
	}

	.text-1 {
		font-size: 24px;
	}

	.text-2 {
		font-size: 13.5px;
	}
}

@media screen and (max-width: 460px) {
	.message-wrapper {
		width: 540px;
	}

	.message-content {
		font-size: 12px;
	}

	.message-author {
		font-size: 12px;
	}
}

@media screen and (max-width: 440px) {
	.message-wrapper {
		width: 520px;
	}

	.message-content {
		font-size: 11px;
	}

	.message-author {
		font-size: 11px;
	}
}

@media screen and (max-width: 420px) {
	.message-wrapper {
		width: 500px;
	}

	.message-content {
		font-size: 11px;
	}

	.message-author {
		font-size: 11px;
	}
}

@media screen and (max-width: 400px) {
	.message-wrapper {
		width: 480px;
	}

	.message-content {
		font-size: 10px;
	}

	.message-author {
		font-size: 10px;
	}
}

@media screen and (max-width: 380px) {
	.message-wrapper {
		width: 460px;
	}

	.message-content {
		font-size: 10px;
	}

	.message-author {
		font-size: 10px;
	}
}

@media screen and (max-width: 360px) {
	.message-wrapper {
		width: 440px;
	}

	.message-content {
		font-size: 9px;
	}

	.message-author {
		font-size: 9px;
	}
}

@media screen and (max-width: 340px) {
	.message-wrapper {
		width: 420px;
	}

	.message-content {
		font-size: 9px;
	}

	.message-author {
		font-size: 9px;
	}
}

@media screen and (max-width: 320px) {
	.message-wrapper {
		width: 400px;
	}

	.message-content {
		font-size: 8px;
	}

	.message-author {
		font-size: 8px;
	}
}

@media screen and (max-width: 300px) {
	.message-wrapper {
		width: 380px;
	}

	.message-content {
		font-size: 8px;
	}

	.message-author {
		font-size: 8px;
	}
}

@media screen and (max-width: 280px) {
	.message-wrapper {
		width: 360px;
	}

	.message-content {
		font-size: 7px;
	}

	.message-author {
		font-size: 7px;
	}
}

@media screen and (max-width: 260px) {
	.message-wrapper {
		width: 340px;
	}

	.message-content {
		font-size: 7px;
	}

	.message-author {
		font-size: 7px;
	}
}

@media screen and (max-width: 240px) {
	.message-wrapper {
		width: 320px;
	}

	.message-content {
		font-size: 6px;
	}

	.message-author {
		font-size: 6px;
	}
}

@media screen and (max-width: 220px) {
	.message-wrapper {
		width: 300px;
	}

	.message-content {
		font-size: 6px;
	}

	.message-author {
		font-size: 6px;
	}
}

@media screen and (max-width: 200px) {
	.message-wrapper {
		width: 280px;
	}

	.message-content {
		font-size: 5px;
	}

	.message-author {
		font-size: 5px;
	}
}

@media screen and (max-width: 180px) {
	.message-wrapper {
		width: 260px;
	}

	.message-content {
		font-size: 5px;
	}

	.message-author {
		font-size: 5px;
	}
}

@media screen and (max-width: 160px) {
	.message-wrapper {
		width: 240px;
	}

	.message-content {
		font-size: 5px;
	}

	.message-author {
		font-size: 5px;
	}
}