<!-- <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        {% block meta %}
        {% endblock meta %}
    </head>

    <body style="background: linear-gradient(180deg, #5AE2FC 6.77%, #E6F2F8 100%);">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <h4 style="color: #5AE2FC;"><b>Fight</b></h4><h4 style="color: black;"><b>Cov-19</b></h4>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link px-2" href="/"><b>Home</b></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link px-2" href="/covcase/"><b>Covid Cases</b></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link px-2" href="/donation/"><b>Donation</b></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link px-2" href="/artikel/"><b>Article</b></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link px-2" href="/FAQ/"><b>FAQ</b></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link px-2" href="/feedback/"><b>Feedback</b></a>
                    </li>
					<li class="nav-item active">
						<a class="nav-link px-2" style="color: #5AE2FC;" href="/users/login"><b>Log In &nbsp;</b></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link px-2" style="color: #5AE2FC;"><b>Hello, {{request.user}}</b></a>
					</li>
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>



 -->