{% extends 'base_layout.html' %}
{% load static %}

{% block meta %}
<title>FightCovid19: Artikel</title>
<style>
    html, body {
        min-height: 100%;
    }
    body {
        background: linear-gradient(180deg, #5AE2FC 6.77%, #E6F2F8 100%);
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container; text-center" style="margin-top: 100px;margin-bottom: 40px;">
    <h1 style="margin-bottom: 40px;color: #b961f8;">Artikel</h3>
</div>

<div class="container; text-center" style="margin-top: 100px;margin-bottom: 40px;">
    <a href="/artikel/FormArtikel/" class="btn btn-outline-danger" role="button" aria-pressed="true" style="background-color: aqua;">Tambah Artikel</a>
</div>
{% csrf_token %}
{% for tabel in inp %}
<div class="container align=left">
    <div class="jumbotron" style="margin-top: 32px;margin-bottom: 40px;background-color: #FFFFFF">
        <div class="card-body text-info" style="font-size: 20px;">
            <h5>{{tabel.Judul}}</h5>
            <h5>{{tabel.Isi}}</h5>
            <h5><a href="{{tabel.Link}}"><button style="background-color: #b961f8;" class="btn btn-icon btn-danger">Sumber</button></a></h5>
            <h5><a href="{{tabel.id}}"><button class="btn btn-icon btn-danger">Delete</button></a></h5>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}