{% extends 'base_layout.html' %}
{% load static %}
{% block meta %}
<title>Donate</title>
<link href="{% static 'css/donation.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}
{% block content %}
<div class="title-top">
    <div class="center" align="center">
        <h1 class="title1" style="padding-top: 50px;margin-bottom: 50px;">Please Submit Your Credentials</h1>
    </div>
</div>

<div class="content container" align="center" style="padding-top:40px;
background: rgba(90, 225, 252, 0.250);border-radius: 10px;width: 750px;">
    <div class="row">
        <div class="col-md">
            <form method="POST" action="" novalidate>
                {% csrf_token %}
                <table class="table" style="color: #202546;">
                    {{ form.as_table }}
                    <tr>
                        <td class="center-content" colspan="2" align="center">
                            <button type="submit" class="btn btn-primary click">Submit</button>
                            <a href="/donation/" class="btn btn-outline-danger" role="button" aria-pressed="true">Cancel</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>    

{% endblock content %}
